In [9]:
import pandas as pd

In [21]:
dset = pd.read_csv("/Users/cheyakua/Downloads/b524cfcf-f120-42a4-a291-2d53da66019d.csv")

In [22]:
dset.head()

   partition_date        asin  organic_position  query_count  clicked_count
0        20200630  B086JBF8F3                 2        32216            590
1        20200630  B01LLSNG1E               164           98              0
2        20200630  B0010B5EQS                22         4554              5
3        20200630  B00MNV8E0C                 7         2772              7
4        20200630  B01LLSNG1E                39         2005              3

In [23]:
dset.shape

(23167, 5)

In [24]:
dset2 = dset.pivot_table(index = "organic_position", columns = "asin", values = "query_count", aggfunc = "sum")

In [25]:
dset2.head()

asin,B00022W4ZU,B0010B5EQS,B00MNV8E0C,B014P0K2A8,B01LLSNG1E,B07PXGQC1Q,B07VGKQ1PV,B086JBF8F3,B086KMYNSS,B0876MF71K
organic_position,,,,,,,,,,
1,654466.0,199661.0,1176331.0,697987.0,375821.0,1542424.0,125905.0,325724.0,1642299.0,18791.0
2,499757.0,381389.0,323839.0,354151.0,386350.0,419094.0,147049.0,158069.0,764610.0,26518.0
3,301611.0,327533.0,350792.0,317030.0,230738.0,161625.0,149141.0,280929.0,421235.0,73212.0
4,320712.0,306036.0,141624.0,243346.0,193945.0,149101.0,170724.0,1185823.0,327192.0,49180.0
5,244003.0,351774.0,41567.0,179718.0,123622.0,55855.0,152647.0,219084.0,696289.0,65860.0

In [26]:
dset2.sum()

asin
B00022W4ZU    4049884.0
B0010B5EQS    4906518.0
B00MNV8E0C    2991133.0
B014P0K2A8    3729044.0
B01LLSNG1E    2894182.0
B07PXGQC1Q    3315352.0
B07VGKQ1PV    3195001.0
B086JBF8F3    3231143.0
B086KMYNSS    4847415.0
B0876MF71K    2951260.0
dtype: float64

In [27]:
dset2.cumsum()

asin,B00022W4ZU,B0010B5EQS,B00MNV8E0C,B014P0K2A8,B01LLSNG1E,B07PXGQC1Q,B07VGKQ1PV,B086JBF8F3,B086KMYNSS,B0876MF71K
organic_position,,,,,,,,,,
1,654466.0,199661.0,1176331.0,697987.0,375821.0,1542424.0,125905.0,325724.0,1642299.0,18791.0
2,1154223.0,581050.0,1500170.0,1052138.0,762171.0,1961518.0,272954.0,483793.0,2406909.0,45309.0
3,1455834.0,908583.0,1850962.0,1369168.0,992909.0,2123143.0,422095.0,764722.0,2828144.0,118521.0
4,1776546.0,1214619.0,1992586.0,1612514.0,1186854.0,2272244.0,592819.0,1950545.0,3155336.0,167701.0
5,2020549.0,1566393.0,2034153.0,1792232.0,1310476.0,2328099.0,745466.0,2169629.0,3851625.0,233561.0
...,...,...,...,...,...,...,...,...,...,...
5061,NaN,NaN,NaN,NaN,2894182.0,NaN,NaN,NaN,NaN,NaN
5116,NaN,NaN,NaN,NaN,NaN,3315352.0,NaN,NaN,NaN,NaN
7605,4049884.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8925,NaN,4906517.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9076,NaN,4906518.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [29]:
dset3 = dset2.cumsum().div(dset2.sum())

In [64]:
min(dset3.loc[40])

0.8558411323130335

In [65]:
max(dset3.loc[40])

0.9866357635977113

In [53]:
dset4 = dset.pivot_table(index = "organic_position", columns = "partition_date", values = "query_count", aggfunc = "sum")

In [54]:
dset5 = dset4.cumsum().div(dset4.sum())

In [55]:
dset5.head()

partition_date,20200130,20200228,20200330,20200430,20200530,20200630,20200730,20200830
organic_position,,,,,,,,
1,0.325937,0.153945,0.200401,0.162143,0.245343,0.172255,0.178306,0.166193
2,0.369237,0.221786,0.313034,0.254947,0.329370,0.277470,0.276434,0.284099
3,0.393815,0.259264,0.398440,0.306116,0.413468,0.344257,0.369267,0.421278
4,0.411464,0.300981,0.468810,0.437139,0.483817,0.420174,0.464474,0.460371
5,0.429830,0.339627,0.522601,0.534030,0.523563,0.465751,0.514294,0.497006

In [60]:
min(dset5.loc[40])

0.8654220808236072

In [61]:
max(dset5.loc[40])

0.9614548095090671